@import './utils/normalize';
@import './utils/variebles';

@import './layout/text-color';
@import './layout/conteiner';
@import './layout/title';
@import './layout/link';
@import './layout/imhere';

@import './sections/about';
@import './sections/benefits';
@import './sections/client';
@import './sections/footer-secsion';
@import './sections/header';
@import './sections/hero';

@import './components/adress-section';
@import './components/backdrop';
@import './components/button-close';
@import './components/button-modal';
@import './components/button-set';
@import './components/button';
@import './components/checkbox';
@import './components/come-on-section';
@import './components/form-field';
@import './components/header-adr';
@import './components/header-menu';
@import './components/logo';
@import './components/modal';
@import './components/overlay';
@import './components/portfolio-gallery';
@import './components/social';
@import './components/buttons-socials';
@import './components/subscription-section';
@import './components/team';