.about {
    padding-top: 0;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__item {
        position: relative;
    }

    &__text {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-top: 27px;
        padding-bottom: 27px;
        background-color: rgba(47, 48, 58, 0.8);
        font-family: var(--font-family);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--color-accent0);
    }
}