.client {
    &__inner {

        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        justify-content: center;
        align-items: center;
    
    
        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
    
        }
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px;
        
        @media screen and (max-width: 479px) {
            width: calc((100% - 4 * 15px) / 2);
            max-width: 210px;
        }
    
        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: calc((100% - 4 * 15px) / 2);
            max-width: 210px;
        }
    
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: calc((100% - 6 * 15px) / 3);
            max-width: 226px;
    
        }
    
        @media screen and (min-width: 1200px) {
            width: calc((100% - 8 * 15px) / 4);
            max-width: 170px;
            flex-wrap: nowrap;
        }
    }

    &__icon {
        width: 106px;
        height: 60px;
        fill: var(--color-clients);

        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        .client__web:hover &,
        .client__web:focus & {
            fill: var(--color-link);
        }
    }

    &__web {
        box-sizing: border-box;
        display: flex;
        
        height: 92px;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        border: 1px solid var(--color-clients);

        transition-property: border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            cursor: pointer;
            border: 1px solid var(--color-link);
        }

        @media screen and (max-width: 767px) {
            width: 210px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 226px;

        }

        @media screen and (min-width: 1200px) {
            width: 170px;
        }
        
    }
}