.button-set {

    &__head {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 50px;
    }

    &__list {
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__item {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        letter-spacing: 0.03em;
        padding: 6px 22px;
        color: var(--color-accent1);
        background-color: var(--color-back-button);
        border: 1px solid transparent;
        border-radius: 4px;

        transition-property: background-color, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--color-accent0);
            background-color: var(--color-link);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
}