// Close button
.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accent0);

    &__icon {
        width: 11px;
        height: 11px;
        fill: var(--color-accent1);

        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover &__icon,
    &:focus &__icon {
        fill: var(--color-link);
    }
}