// .form-field 

.form-field {
    &__label {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: var(--color-accent2);
    }

    &__input {
        width: 100%;
        border: 1px solid var(--color-border-modal);
        border-radius: 4px;
        height: 40px;
        padding-left: 41px;
        margin-bottom: 10px;


        transition-property: border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        outline: none;

        &:hover,
        &:focus,
        &:focus-within,
        &:active {
            fill: var(--color-link);
            cursor: pointer;
            border-color: var(--color-link);
        }

        &::placeholder {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }
    }

    &__place {
        display: flex;
        position: relative;
        margin-top: 4px;

        &:hover,
        &:focus,
        &:focus-within,
        &:active {
            border-color: var(--color-link);
            border-radius: 4px;
            outline: none;
            cursor: pointer;
        }
    }

    &__icon {
        position: absolute;
        width: 12px;
        height: 12px;
        left: 0;
        top: 15px;
        margin-left: 15px;
        fill: var(--color-accent1);

        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        .form-field:hover &,
        .form-field:focus &,
        .form-field:focus-within &,
        .form-field:active & {
            fill: var(--color-link);
            cursor: pointer;
        }
    }

    &__textarea {
        height: 120px;
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        resize: none;
        margin-top: 4px;

        &:hover,
        &:focus,
        &:focus-within,
        &:active {
            border: 1px solid var(--color-link);
            border-radius: 4px;
            outline: none;
            cursor: pointer;
        }
    }
}