/* Gallery */
.portfolio {
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__list {
        margin-right: 30px;
        margin-bottom: 30px;

        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
    }

    &__img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__title {
        color: var(--color-accent1);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        margin-bottom: 4px;
    }

    &__text {
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
    }

    &__box {
        box-sizing: border-box;
        border: 1px solid #eee;
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 24px;
        padding-right: 24px;
    }

    &__description {
        font-family: var(--font-family);
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: var(--color-accent0);
        background-color: rgba(33, 150, 243, 0.9);
        padding: 63px 24px;
        align-items: center;
        align-content: center;
    }

    &__item {
        display: flex;
        position: relative;
        overflow: hidden;
    }

    &__overlay {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__card:hover,
    &__card:focus {
        cursor: pointer;

        &:hover .portfolio__overlay,
        &:focus .portfolio__overlay {
            transform: translateY(0%);
        }
    }
}