.team {
    background-color: var(--color-back-button);

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        margin-top: 30px;
        margin-bottom: 10px;
        text-align: center;
    }

    &__item {
        margin-right: 30px;
        padding-bottom: 30px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: var(--color-accent0);

        &:last-child {
            margin-right: 0;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        margin-bottom: 16px;
        text-align: center;
    }
}